[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
celery = "*"
flask-caching = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-security-too = "*"
bcrypt = "*"
jinja2 = "*"
redis = "*"
httplib2 = "*"
flask-cors = "*"
weasyprint = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
